<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.schneppd.android.testui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.schneppd.android.Application.PlayerIndex"
            android:label="@string/title_activity_player_index"
            android:theme="@style/AppTheme" />
        <activity
            android:name="org.schneppd.android.Application.LegalULA"
            android:label="@string/title_activity_legal_ul"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="org.schneppd.android.Application.UpdateActivity"
            android:label="@string/title_activity_update"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity android:name="org.schneppd.android.Application.QuestBoardActivity" />
        <activity android:name="org.schneppd.android.Application.QuestProposalActivity" />
        <activity android:name="org.schneppd.android.Application.TrophyShowcaseActivity" />
        <activity android:name="org.schneppd.android.Application.TrophyActivity" />
        <activity android:name="org.schneppd.android.Application.QuestJournalActivity" />
        <activity android:name="org.schneppd.android.Application.QuestHistoryActivity" />
        <activity android:name="org.schneppd.android.Application.AvatarCustomizationActivity" />
        <activity android:name="org.schneppd.android.Application.SetupActivity"></activity>
    </application>

</manifest>